---
import Skill from '../components/Skill.astro';
interface Props {
    project: Project;
    index: number;
}

const {index, project} = Astro.props;
const {title, description, urLImg, usedSkills, link, categories} = project;

const itShouldbeReverse = index % 2 == 0;
const className= itShouldbeReverse ? 
"w-full flex flex-col items-center md:items-start md:flex-row gap-4 md:gap-12 max-w-screen-md" : "w-full flex flex-col items-center md:items-start md:flex-row-reverse gap-4 md:gap-12 max-w-screen-md";
---

<div class={className}>
    <img src={urLImg} alt="Project image" width={128} height={128} class="w-full md:max-w-md h-72 object-cover object-center rounded-sm shadow-lg cursor-pointer transition-transform hover:scale-105" data-img={urLImg}/>
    <div class="flex flex-col gap-2 flex 1">
        <div class="flex flex-col">
            <h3 class="text-center text-3xl font-light tracking-wide text-white relative inline-block">{title}</h3>
        </div>
        <div class="mt-3 flex flex-wrap gap-2">
            {usedSkills.map((usedSkill) => <Skill skill={usedSkill} />)}
        </div>
        <p class="text-pretty text-xl text-white">{description}</p>
        <a href={link} class="text-green-600 flex items-center gap-2 px-4 py-2 text-xl"><svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 7a2 2 0 012-2h4l2 2h8a2 2 0 012 2v7a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 13l-2 2 2 2m4-4l2 2-2 2" />
        </svg>Ver Repositorio</a>
    </div>
</div>