---
import Skill from '../components/Skill.astro';
interface Props {
    project: Project;
    index: number;
}

const {index, project} = Astro.props;
const {title, description, urLImg, usedSkills, link } = project;

const itShouldbeReverse = index % 2 == 0;
const className= itShouldbeReverse ? 
"w-full flex flex-col items-center md:items-start md:flex-row gap-4 md:gap-12 max-w-screen-md" : "w-full flex flex-col items-center md:items-start md:flex-row-reverse gap-4 md:gap-12 max-w-screen-md";
---

<div class={className}>
    <img src={urLImg} alt="Project image" width={128} height={128} class="w-full md:max-w-md h-72 object-cover object-center rounded-sm shadow-lg cursor-pointer transition-transform hover:scale-105" onclick="document.getElementById('modal-img').src=this.src; document.getElementById('imgModal').showModal();"/>
    <div class="flex flex-col gap-2 flex 1">
        <div class="flex flex-col">
            <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-semibold">{title}</h3>
            <a href={link} class=" underline text-blue-600 italic"></a>
        </div>
        <div class="mt-2 flex flex-wrap gap-2">
            {usedSkills.map((usedSkill) => <Skill skill={usedSkill} />)}
        </div>
        <p class="text-pretty text-xl">{description}</p>
    </div>
</div>

<dialog id="imgModal" class="backdrop:bg-black/70 p-0 rounded-sm">
  <img id="modal-img" src="" alt="Zoomed project" class="max-h-[90vh] max-w-[90vw] rounded-sm"/>
  <button 
    onclick="document.getElementById('imgModal').close();" 
    class="absolute top-2 right-2 bg-white px-1.5 py-0.05 rounded-md shadow-md hover:bg-gray-200"
  >
    ✕
  </button>
</dialog>